--extra-index-url https://pypi.texastribune.org/index/

django-debug-toolbar==1.9.1
django-extensions==1.9.9

### Testing libraries
mock==2.0.0
fudge==1.0.3
factory_boy==2.7.0
fake-factory==0.7.4
freezegun==0.3.10
moto==1.0.1   # mock boto library

### Uncomment these if you need them
# GPolyEncode==0.1.1
# pygraphviz==1.2   # for use with django-extensions' graph_models
# selenium==2.17.0
# splinter==0.4.4

### Metrics
coverage==3.6
django-coverage==1.2.2
flake8==2.0

### Helper for communicating with databases in a Docker world
postdoc==0.4.0

### IPython
ipdb==0.8.1
ipython==5.5.0

pydevd
